* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 0rem;
  min-height: 6.5vh;
}

li {
  font-family: monospace;
  font-size: 15px;

  list-style: none;
  margin: 2rem;
  padding: 0.5rem;
}

li:hover {
  background-color: rgb(88, 88, 88);
}

ul {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

.container {
  width: max-content;
}

.container2 {
  text-align: center;
  font-size: 25px;
}
.container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat (5, 300px) 150px;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Hero Hero"
    "Text-1 Img-1"
    "Img-2 Text-2"
    "Text-3 Img-3"
    "Img-4 Text-4"
    "Text-5 Img-5"
    "Footer Footer";
}

.Hero,
.Text-1,
.Text-2,
.Text-3,
.Text-4,
.Text-5,
.Img-1,
.Img-2,
.Img-3,
.Img-4,
.Img-5,
.footer {
  box-sizing: border-box;
}

.Hero {
  grid-area: Hero;
  background-image: url(../imagenes/sports.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.Text-1 {
  grid-area: Text-1;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  text-shadow: 2px 2px 3px black;
  padding: 5rem;
}

.Text-1 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

@keyframes dep {
  from {
    background-color: rgb(156, 11, 11);
  }
  to {
    background-color: rgb(128, 128, 8);
  }
}
.Img-1 {
  grid-area: Img-1;
  background-image: url(../imagenes/boxeo.jpg);
  background-position: top;
  background-size: cover;
}

.Img-2 {
  grid-area: Img-2;
  background-image: url(../imagenes/basketball.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Text-2 {
  grid-area: Text-2;
  text-shadow: 2px 2px 3px black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  padding: 5rem;
}

.Text-2 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

@keyframes dep {
  from {
    background-color: rgb(156, 11, 11);
  }
  to {
    background-color: rgb(128, 128, 8);
  }
}
.Text-3 {
  grid-area: Text-3;
  text-shadow: 2px 2px 3px black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  padding: 5rem;
}

.Text-3 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

@keyframes dep {
  from {
    background-color: rgb(156, 11, 11);
  }
  to {
    background-color: rgb(128, 128, 8);
  }
}
.Img-3 {
  grid-area: Img-3;
  background-image: url(../imagenes/football.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img-4 {
  grid-area: Img-4;
  background-image: url(../imagenes/futbol.jpg);
  background-position: top;
  background-size: cover;
}

.Text-4 {
  grid-area: Text-4;
  text-shadow: 2px 2px 3px black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  padding: 5rem;
}

.Text-4 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

@keyframes dep {
  from {
    background-color: rgb(156, 11, 11);
  }
  to {
    background-color: rgb(128, 128, 8);
  }
}

.Text-5 {
  grid-area: Text-5;
  text-shadow: 2px 2px 3px black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  padding: 5rem;
}

.Text-5 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

@keyframes dep {
  from {
    background-color: rgb(156, 11, 11);
  }
  to {
    background-color: rgb(128, 128, 8);
  }
}

.Img-5 {
  grid-area: Img-5;
  background-image: url(../imagenes/x-games.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vid1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid5 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.Img-11 {
  grid-area: Img-1;
  background-image: url(../imagenes/boxeo.jpg);
  background-position: top;
  background-size: cover;
}

.Img-11 {
  transition: height 0.7s;
}
.Img-11:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-22 {
  grid-area: Img-2;
  background-image: url(../imagenes/basketball.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img-22 {
  transition: height 0.7s;
}
.Img-22:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-33 {
  grid-area: Img-3;
  background-image: url(../imagenes/football.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img-33 {
  transition: height 0.7s;
}
.Img-33:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-44 {
  grid-area: Img-4;
  background-image: url(../imagenes/futbol.jpg);
  background-position: top;
  background-size: cover;
}

.Img-44:hover {
  transition: height 0.7s;
}
.Img-44:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-55 {
  grid-area: Img-5;
  background-image: url(../imagenes/x-games.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img-55:hover {
  transition: height 0.7s;
}
.Img-55:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.row1 {
  background-color: rgb(88, 88, 88);
}

.Fo1 {
  padding-top: 10rem;
  padding-bottom: 25rem;
}

.foo1:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.foo2:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.foo3:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.Footer {
  background-color: rgb(170, 168, 168);
  background-image: radial-gradient(to bottom, white);
  grid-area: Footer;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  body {
    color: red;
    background-color: orangered;
  }
}

@media only screen and (min-width: 490px) {
  body {
    background-color: blueviolet;
    color: orange;
  }

  @media only screen and (min-width: 576px) {
    body {
      color: rgb(0, 0, 0);
      background-color: rgb(60, 255, 0);
    }
  }

  @media only screen and (min-width: 768px) {
    body {
      color: rgb(0, 255, 242);
      background-color: rgb(0, 119, 255);
    }
  }

  @media only screen and (min-width: 992px) {
    body {
      color: rgb(65, 255, 128);
      background-color: rgb(132, 0, 255);
    }
  }

  @media only screen and (min-width: 1200px) {
    body {
      color: red;
      background-color: rgb(212, 0, 255);
    }
  }

  @media only screen and (min-width: 1400px) {
    body {
      color: rgb(255, 0, 234);
      background-color: rgb(255, 251, 0);
    }
  }
}
