* {
  margin: 0;
  padding: 0;
}

:root {
  --color0: #aaa8a8;
  --color1: #ad0000;
  --color2: #001aff;
  --color3: #00bb54;
  --color4: #ffffff;
}

.navbar {
  background-color: var(--color0) !important;

  height: 0rem;
  min-height: 6.5vh;
}

.bai img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
}

h2 {
  text-align: center;
  color: black;
  text-shadow: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  font-weight: bolder;
}

.dep2 {
  height: 840px;
  width: 100%;
  background-color: var(--color2);
  background-image: url(../imagenes/deportes-1.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-radius: 50px;
}

.spo {
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  margin-top: 100px;
}

.spo2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;

  min-height: 600px;
  width: 100%;

  color: black;
  text-align: center;
  line-height: 600px;
  font-size: 45px;
  font-family: cursive;
  font-weight: bolder;
}

.his {
  text-align: center;
  color: black;

  font-size: 35px;
  font-family: cursive;
  font-weight: bolder;
}

li {
  font-family: monospace;
  font-size: 15px;

  list-style: none;
  margin: 2rem;
  padding: 0rem;
}

li:hover {
  background-color: rgb(88, 88, 88);
}

ul {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

.cob {
  color: black;
  text-shadow: #ffffff;
}

.box1 {
  background-image: url(../imagenes/historiadelboxeo.jpg);
  background-size: cover;
  background-position: center;
}

.bas1 {
  background-image: url(../imagenes/historyofbasketball.jpg);
  background-size: cover;
  background-position: center;
}

.fot {
  background-image: url(../imagenes/historiadefootball.jpg);
  background-size: cover;
  background-position: center;
}

.fut {
  background-image: url(../imagenes/historiadelfutbol.jpg);
  background-size: cover;
  background-position: center;
}

.xga {
  background-image: url(../imagenes/historyofx-Games.jpg);
  background-size: cover;
  background-position: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 300px 300px 300px 300px 300px 150px;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Hero Hero"
    "Text-1 Img-1"
    "Img-2 Text-2"
    "Text-3 Img-3"
    "Img-4 Text-4"
    "Text-5 Img-5"
    "Footer Footer";
  width: 100%;
  height: 100%;
}
.Hero,
.Text-1,
.Text-2,
.Text-3,
.Text-4,
.Text-5,
.Img-1,
.Img-2,
.Img-3,
.Img-4,
.Img-5,
.footer {
  box-sizing: border-box;
}

.Hero {
  grid-area: Hero;
  background-image: url(../imagenes/sports.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.Text-1 {
  grid-area: Text-1;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  padding: 5rem;
}

.Text-1 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

.Text-2 {
  grid-area: Text-2;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  padding: 5rem;
}

.Text-2 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

.Text-3 {
  grid-area: Text-3;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  padding: 5rem;
}

.Text-3 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

.Img-4 {
  grid-area: Img-4;
  background-image: url(../imagenes/futbol.jpg);
  background-position: top;
  background-size: cover;
}

.Text-4 {
  grid-area: Text-4;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  padding: 5rem;
}

.Text-4 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

.Text-5 {
  grid-area: Text-5;
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  padding: 5rem;
}

.Text-5 {
  background-color: rgb(101, 163, 73);
  animation-name: dep;
  animation-iteration-count: 10;
  animation-timing-function: ease-in;
  animation-duration: 7s;
  animation-delay: 1s;
}

.vid1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid5 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.Img-1 {
  grid-area: Img-1;
  background-image: url(../imagenes/boxeo.jpg);
  background-position: top;
  background-size: cover;
}

.Img-1 {
  transition: height 0.7s;
}
.Img-1:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-2 {
  grid-area: Img-2;
  background-image: url(../imagenes/basketball.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img-2 {
  transition: height 0.7s;
}
.Img-2:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-3 {
  grid-area: Img-3;
  background-image: url(../imagenes/football.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img-3 {
  transition: height 0.7s;
}
.Img-3:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-4 {
  grid-area: Img-4;
  background-image: url(../imagenes/futbol.jpg);
  background-position: top;
  background-size: cover;
}

.Img-4:hover {
  transition: height 0.7s;
}
.Img-4:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.Img-5 {
  grid-area: Img-5;
  background-image: url(../imagenes/x-games.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Img-5:hover {
  transition: height 0.7s;
}
.Img-5:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.row1 {
  background-color: rgb(88, 88, 88);
}

@keyframes dep {
  from {
    background-color: rgb(156, 11, 11);
  }
  to {
    background-color: rgb(128, 128, 8);
  }
}

.container2 {
  text-align: center;
  font-size: 25px;
}

.Fo1 {
  padding-top: 10rem;
  padding-bottom: 25rem;
}

.foo1:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.foo2:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.foo3:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.Footer {
  background-color: rgb(170, 168, 168);
  background-image: radial-gradient(to bottom, white);
  grid-area: Footer;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  body {
    color: red;
    background-color: orangered;
  }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .bai img {
    max-width: 18px;
    max-height: 18px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 575px) {
  body {
    background-color: blueviolet;
    color: orange;
  }
}

@media only screen and (min-width: 481px) and (max-width: 575px) {
  .bai img {
    max-width: 20px;
    max-height: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    color: rgb(0, 0, 0);
    background-color: rgb(60, 255, 0);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bai img {
    max-width: 25px;
    max-height: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    color: rgb(0, 38, 255);
    background-color: rgb(0, 119, 255);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bai img {
    max-width: 30px;
    max-height: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    color: rgb(65, 255, 128);
    background-color: rgb(255, 0, 234);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .bai img {
    max-width: 35px;
    max-height: 35px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  body {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .bai img {
    max-width: 40px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    color: rgb(255, 0, 234);
    background-color: rgb(255, 251, 0);
  }
}
@media only screen and (min-width: 1400px) {
  .bai img {
    max-width: 40px;
    max-height: 40px;
  }
}
