* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color1: green;
$color2: blue;
$color3: #aaa8a8;
$color4: white;
$color5: #585858;

:root {
  --color0: #aaa8a8;
  --color1: #ad0000;
  --color2: #001aff;
  --color3: #00bb54;
  --color4: #ffffff;
}

.bani {
  background-image: linear-gradient(
    45deg,
    black,
    black,
    black,
    #ccae04,
    black,
    black,
    black
  );
  background-size: 410%;
  animation: but1-ani 15s infinite alternate;
}

@keyframes but1-ani {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.carousel {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.inner {
  width: inherit;
  height: inherit;
  position: absolute;

  animation: carou 110s infinite;

  opacity: 0;
}

.inner:nth-child(1) {
  animation-delay: 0s;
}
.inner:nth-child(2) {
  animation-delay: 10s;
}
.inner:nth-child(3) {
  animation-delay: 20s;
}
.inner:nth-child(4) {
  animation-delay: 30s;
}
.inner:nth-child(5) {
  animation-delay: 40s;
}
.inner:nth-child(6) {
  animation-delay: 50s;
}
.inner:nth-child(7) {
  animation-delay: 60s;
}
.inner:nth-child(8) {
  animation-delay: 70s;
}
.inner:nth-child(9) {
  animation-delay: 80s;
}
.inner:nth-child(10) {
  animation-delay: 90s;
}
.inner:nth-child(11) {
  animation-delay: 100s;
}
.inner:nth-child(12) {
  animation-delay: 109s;
}

.inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pitg {
  position: relative;

  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  background-image: linear-gradient(
    45deg,
    white,
    gold,
    rgb(67, 67, 255),
    gold,
    red
  );

  -webkit-background-clip: text;
  color: transparent;

  background-size: 325%;
  animation: pit1-ani 10s infinite alternate;
}

@keyframes pit1-ani {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.pit {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);

  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;

  padding: 10rem 5rem;
  background-image: linear-gradient(
    45deg,
    white,
    gold,
    rgb(67, 67, 255),
    gold,
    red
  );

  -webkit-background-clip: text;
  color: transparent;

  background-size: 325%;
  animation: pit1-ani 10s infinite alternate;
}

@keyframes pit1-ani {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.pit h5 {
  font-size: 3.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  letter-spacing: 5px;
  margin-bottom: 3rem;
}

.pit p {
  font-size: 1.5rem;

  letter-spacing: 5px;
  margin-bottom: 3rem;
}

@keyframes carou {
  10% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }
}

.pitba {
  background: rgba(0, 0, 0, 0.452);
}

.ti1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;

  font-size: 1.5rem;
  text-align: center;

  border-radius: 10px;
  position: relative;
  margin: auto;
  padding: 0.5rem;

  letter-spacing: 10px;

  color: #000000;

  background-image: linear-gradient(55deg, #000000, $color4, #000000);
}

.but1 {
  border: 2px solid #ffd700;
  border-radius: 25%;

  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  background-image: linear-gradient(45deg, #000000, $color4, #ffd700);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.4s;
}

.but1:hover,
.but1:focus {
  background-position: right;
}

.lee {
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  border: 2px solid #ffd700;
  border-radius: 15%;

  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  background-image: linear-gradient(45deg, #000000, $color4, #ffd700);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.4s;
}

.lee:hover,
.lee:focus {
  color: #ad0000;
  background-position: right;
}

.tiv {
  text-align: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;

  font-size: 1.5rem;
  text-align: center;

  border-radius: 10px;
  position: absolute;
  margin: auto;
  padding: 0.5rem;
  width: 50%;

  letter-spacing: 10px;

  color: #000000;

  background-image: linear-gradient(55deg, #000000, $color4, #000000);
}

section {
  position: relative;
  width: 100%;
  height: 78vh;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

section .navigation {
  display: flex;
  width: fit-content;
  height: 15vh;

  position: absolute;

  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  justify-content: center;
  align-items: center;
}

section .navigation li {
  list-style: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 3px;
  opacity: 0.7;
  transition: 0.4s;
}

section .navigation li img {
  width: 200px;
  transition: 0.5s;
}

section .navigation li:hover {
  opacity: 1;
}

section .navigation li img:hover {
  width: 400px;
  transition: 0.5s;
}

.boxeo-icon,
.basketball-icon,
.football-icon,
.futbol-icon,
.x-games-icon {
  border: 5px solid $color2;
}

@each $sports in boxeo, basketball, football, futbol, x-games {
  .#{$sports}-icon {
    background-image: url("/imagenes/#{$sports}.jpg");

    background-size: cover;
    background-position: center;
  }
}
.boxeo-icon:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.basketball-icon:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.football-icon:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.futbol-icon:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

.x-games-icon:hover {
  height: 300px;
  width: 250px;

  margin: auto;
}

@mixin center {
  justify-content: center;
  align-items: center;
}

h2 {
  @include center;
  text-align: center;
  color: black;
  text-shadow: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  font-weight: bolder;
}

.navbar-toggler {
  background-color: $color4;
}

.dropdown-item {
  color: $color1;
  font-weight: bolder;
}

.dow {
  color: black;
  background-color: $color4;
}

.bai {
  color: black;
  font-weight: bolder;
}

.bai img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
}

.dep2 {
  height: 840px;
  width: 100%;
  background-color: var(--color2);
  background-image: url(../imagenes/deportes-1.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-radius: 50px;
}

.spo {
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  margin-top: 100px;
}

.spo2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;

  min-height: 600px;
  width: 100%;

  color: black;
  text-align: center;
  line-height: 600px;
  font-size: 45px;
  font-family: cursive;
  font-weight: bolder;
}

.his {
  text-align: center;
  color: black;

  font-size: 35px;
  font-family: cursive;
  font-weight: bolder;
}

li {
  font-family: monospace;
  font-size: 15px;

  list-style: none;
  margin: 2rem;
  padding: 0rem;
}

li:hover {
  background-color: rgb(88, 88, 88);
}

ul {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

.cob {
  color: black;
  text-shadow: #ffffff;
}

.box1 {
  background-image: url(../imagenes/historiadelboxeo.jpg);
  background-size: cover;
  background-position: center;
}

.bas1 {
  background-image: url(../imagenes/historyofbasketball.jpg);
  background-size: cover;
  background-position: center;
}

.fot {
  background-image: url(../imagenes/historiadefootball.jpg);
  background-size: cover;
  background-position: center;
}

.fut {
  background-image: url(../imagenes/historiadelfutbol.jpg);
  background-size: cover;
  background-position: center;
}

.xga {
  background-image: url(../imagenes/historyofx-Games.jpg);
  background-size: cover;
  background-position: 10px;
}

.container {
  inline-size: min(44% - 4rem, 70rem);
  margin-inline: auto;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 55.6%;
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-bottom: 10px;
}

.media-element {
  background: #ffffff;
  border-radius: 30px;
}
.media-element img {
  inline-size: 100%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
}

.snaps {
  scroll-snap-type: inline mandatory;
}

.snaps > * {
  scroll-snap-align: start;
}

.vid1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.vid5 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.row1 {
  background-color: rgb(88, 88, 88);
}

@keyframes dep {
  from {
    background-color: rgb(156, 11, 11);
  }
  to {
    background-color: rgb(128, 128, 8);
  }
}

.container2 {
  text-align: center;
  font-size: 25px;
}

.Fo1 {
  padding-top: 10rem;
  padding-bottom: 25rem;
}

.foo1:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.foo2:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.foo3:hover {
  background-color: rgb(88, 88, 88);
  padding: 0.5rem;
}

.Footer {
  background-color: #aaa8a8;
  background-image: radial-gradient(to bottom, white);
  grid-area: Footer;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 39vh;
}

.contact-info {
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i {
  margin-right: 20px;
  font-size: 35px;
}

.contact-form {
  max-width: 700px;
  margin-right: 50px;
}

.contact-info,
.contact-form {
  flex: 1;
}

.contact-form h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.contact-form .text-box {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .text-box:first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn {
  float: right;
  background: #0091ff;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn:hover {
  background: #0582e3;
}

@media screen and (max-width: 950px) {
  .contact-section {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    margin: 30px 50px;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form .text-box {
    width: 100%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  body {
    .bai img {
      max-width: 30px;
      max-height: 30px;
    }

    color: red;
    background-color: orangered;
  }

  .pitg {
    font-size: 11px;
  }

  section {
    position: relative;
    width: 440px;
    height: 78vh;
  }
  video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section .navigation {
    display: flex;
    height: 140vh;

    position: relative;
  }
  section .navigation li img {
    width: 65px;
  }
  section .navigation li img:hover {
    width: 150px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 575px) {
  body {
    .bai img {
      max-width: 35px;
      max-height: 35px;
    }

    background-color: blueviolet;
    color: orange;
  }

  .pitg {
    font-size: 10px;
  }

  section {
    position: relative;
    width: 480px;
    height: 78vh;
  }
  video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section .navigation {
    display: flex;
    height: 140vh;

    position: relative;
  }
  section .navigation li img {
    width: 65px;
  }
  section .navigation li img:hover {
    width: 150px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    .bai img {
      max-width: 40px;
      max-height: 40px;
    }

    color: rgb(0, 0, 0);
    background-color: rgb(60, 255, 0);
  }

  .pitg {
    font-size: 13px;
  }

  section {
    position: relative;
    width: 640px;
    height: 78vh;
  }
  video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section .navigation {
    display: flex;
    height: 140vh;

    position: relative;
  }
  section .navigation li img {
    width: 100px;
  }
  section .navigation li img:hover {
    width: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    .bai img {
      max-width: 45px;
      max-height: 45px;
    }

    color: rgb(0, 38, 255);
    background-color: rgb(0, 119, 255);
  }

  .pitg {
    font-size: 18px;
  }

  section {
    position: relative;
    width: 700px;
    height: 78vh;
  }
  video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section .navigation {
    display: flex;
    height: 140vh;

    position: relative;
  }
  section .navigation li img {
    width: 100px;
  }
  section .navigation li img:hover {
    width: 250px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    .bai img {
      max-width: 50px;
      max-height: 50px;
    }

    color: #41ff80;
    background-color: rgb(255, 0, 234);
  }

  .pitg {
    font-size: 23px;
  }

  section {
    position: relative;
    width: 900px;
    height: 78vh;
  }
  video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section .navigation {
    display: flex;
    height: 140vh;

    position: relative;
  }
  section .navigation li img {
    width: 150px;
  }
  section .navigation li img:hover {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  body {
    .bai img {
      max-width: 55px;
      max-height: 55px;
    }

    color: #ff0000;
    background-color: #ff0000;
  }

  .pitg {
    font-size: 25px;
  }

  section {
    position: relative;
    width: 1000px;
    height: 78vh;
  }
  video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section .navigation {
    display: flex;
    height: 140vh;

    position: relative;
  }
  section .navigation li img {
    width: 155px;
  }
  section .navigation li img:hover {
    width: 275px;
  }
}

@media only screen and (min-width: 1400px) {
  .bai img {
    max-width: 65px;
    max-height: 65px;
  }
  .pitg {
    font-size: 30px;
  }
  section {
    position: relative;
    width: 1800px;
    height: 78vh;
  }
  video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  section .navigation {
    display: flex;
    height: 140vh;

    position: relative;
  }
  section .navigation li img {
    width: 180px;
  }
  section .navigation li img:hover {
    width: 295px;
  }
}
